:root {
    --h2FontSizeDesktop: 48px;
    --pFontSizeDesktop: 22px;
    --h2FontSizeMobile: 38px;
    --pFontSizeMobile: 18px;
    --gradiente: rgba(0,0,0,.1);
}

/* ________________________________________________________________________________ */

/* EQUIPO */


.equipo__s {
    margin-top: 135px;
}

.section__equipo--h2 {
    font-size: var(--h2FontSizeDesktop);
}

.section__equipo {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #413ADA;
    gap: 20px;
    padding: 20px;
}

.section__equipo--h2 {
    font-size: var(--h2FontSizeDesktop);
}

.section__equipo--p {
    font-size: var(--pFontSizeDesktop);
    line-height: 40px;
    width: 40%;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .section__equipo--h2 {
        font-size: var(--h2FontSizeMobile);
    }
    .section__equipo--p {
        font-size: var(--pFontSizeMobile);
        width: 100%;
    }
}



















.horizontalContainer {
    display: flex;
    flex-direction: row;
}


.card {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #413ADA;
    background-color: #fff;
    flex-direction: row;
    width: 50%;
}

.card__3, .card__4 {
    flex-direction: row-reverse;
}



.card__img {
    width: 50%;
    min-height: 50vh;
    background-size: cover;
    background-position: center center;
}

.card__1 .card__img {
    background-image: url(../img/cards/facultadEducacion.jpg);
}

.card__2 .card__img {
    background-image: url(../img/cards/martinZapata.jpg);
}

.card__3 .card__img {
    background-image: url(../img/cards/gabrielDelMazo.jpg);
}

.card__4 .card__img {
    background-image: url(../img/cards/thadi.jpg);
}


.card__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    width: 50%;
}

.card__h3 {
    font-size: 36px;
    text-align: center;
}

.card__p {
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}

.card__btn {
    background-color: #413ADA;
    color: #fff;
    padding: 10px 40px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width: 1655px) {
    .horizontalContainer {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
    .card__2 {
        flex-direction: row-reverse;
    }
    .card__3 {
        flex-direction: row;
    }
}

@media screen and (max-width: 900px) {
    .card__h3 {
        font-size: 30px;
    }
    .card__p {
        font-size: 16px;
    }
    .card__text {
        width: 100%;
    }
    .card {
        flex-direction: column;
    }
    .card__img {
        width: 100%;
        height: 40vh;
    }
}








/* FONDO PARA TARJETA DE INTEGRANTES */

.layout {
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: .4s;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.layout.active {
    z-index: 500;
    opacity: 1;
}

/* TARJETA DE INTEGRANTES */

.estudiantes {
    background-color: #fff;
    color: #000;
    padding: 30px 14px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
}

.icon__cruz {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 30px;
    cursor: pointer;
}

.info {
    position: relative;
}

.estudiantes__img {
    height: 80px;
    position: absolute;
    bottom: -30px;
    right: -14px;
}

.estudiantes__h4 {
    font-size: 32px;
    margin-bottom: 14px;
    margin-top: -20px;
}

.estudiantes__ul {
    line-height: 40px;
    margin-left: 18px;
    list-style-type: disc;
}


