:root {
    --imageHeight: 100px;
    --azulLogo: #1972B7;
    --azulBackground: #4c7dad;
    --sombra: 5px 0px 15px 0px rgb(0, 0, 0, .4);
    --h2FontSize: 42px;
    --pFontSize: 18px;
}

/* ________________________________________________________________________________ */

/* CONTACTO */


.contacto {
    background-color: #fff;
    line-height: 42px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--sombra);
}

.contacto__h2 {
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: var(--h2FontSize);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;  
}

input, textarea {
    padding: 10px;
    font-size: var(--pFontSize);
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-bottom: 3px solid var(--azulBackground);
    outline: none;
    background: none;
    transition: .4s;
}

input:focus, textarea:focus {
    background-color: var(--azulBackground);
    color: #fff;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: #fff;
}

textarea {
    resize: vertical;
    height: 140px;
}

.btn__submit {
    border: none;
    background: var(--azulBackground);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 22px;
}

.btn__submit:focus {
    background-color: #6891ba;
}

.redes {
    font-size: 40px;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.redes i {
    transition: .4s;
    cursor: pointer;
}

.redes i:hover {
    transform: translateY(-10px);
}

.redes__a {
    color: #000;
}

.instagramIcon:hover {
    color: #E1306C;
}

.youtubeIcon:hover {
    color: #CD201F;
}

.mailIcon:hover {
    color: var(--azulLogo);
}

@media screen and (max-width: 630px) {
    .container__imgMain{
        height: 250px;
    }
}